In [2]:
import pymongo
client = pymongo.MongoClient('mongodb://localhost:27017/')
db = client['company']
col = db['employees']

In [62]:
x = col.aggregate(
    [
        {
            "$match":
            {
                "job": { "$exists": "true" }
            }
        },
        {
            "$group":
            {
                "_id": "$job",
                "avg": { "$avg": "$salary" }
            }
        },
        {
            "$group":
            {
                "_id": "$department.name",
                "min": { "$min":"$avg"}
            }
        },
        {
            "$project":
            {
                "_id": 0
            }
        }
    ]
)
for i in x:
    print(i)

{'min': 1037.5}

In [58]:
x = col.find({}, { "_id": 0, "name": 1, "salary": 1 })
for i in x:
    print(i)

{'name': 'King', 'salary': 5000.0}
{'name': 'Jones', 'salary': 2975.0}
{'name': 'Blake', 'salary': 2850.0}
{'name': 'Clark', 'salary': 3000.0}
{'name': 'Smith', 'salary': 2450.0}
{'name': 'Scott', 'salary': 3000.0}
{'name': 'Ford', 'salary': 3000.0}
{'name': 'Allen', 'salary': 1600.0}
{'name': 'Ward', 'salary': 1250.0}
{'name': 'Martin', 'salary': 1250.0}
{'name': 'Turner', 'salary': 1500.0}
{'name': 'James', 'salary': 950.0}
{'name': 'Miller', 'salary': 1300.0}
{'name': 'Adams', 'salary': 1100.0}
{'name': 'Smith', 'salary': 800.0}