In [2]:
import pymongo
client = pymongo.MongoClient('mongodb://localhost:27017/')
db = client['company']
col = db['employees']

In [70]:
x = col.aggregate(
    [
        {
            "$unwind": "$missions"
        },
        {
            "$group": {
                "_id": "$missions.location",
                "count": { "$sum": 1 }
            }
        },
        {
            "$match": {
                "_id": { "$ne": "null" }
            }
        },
        {
            "$addFields":
            {
                "city": "$_id"
            }
        },
        {
            "$project":
            {
                "_id": 0
            }
        }
    ]
)
for i in x:
    print(i)

{'count': 3, 'city': 'Chicago'}
{'count': 1, 'city': 'Berlin'}
{'count': 2, 'city': 'Paris'}
{'count': 1, 'city': 'Dallas'}
{'count': 1, 'city': 'Lyon'}
{'count': 1, 'city': 'London'}

In [58]:
x = col.find({}, { "_id": 0, "name": 1, "salary": 1 })
for i in x:
    print(i)

{'name': 'King', 'salary': 5000.0}
{'name': 'Jones', 'salary': 2975.0}
{'name': 'Blake', 'salary': 2850.0}
{'name': 'Clark', 'salary': 3000.0}
{'name': 'Smith', 'salary': 2450.0}
{'name': 'Scott', 'salary': 3000.0}
{'name': 'Ford', 'salary': 3000.0}
{'name': 'Allen', 'salary': 1600.0}
{'name': 'Ward', 'salary': 1250.0}
{'name': 'Martin', 'salary': 1250.0}
{'name': 'Turner', 'salary': 1500.0}
{'name': 'James', 'salary': 950.0}
{'name': 'Miller', 'salary': 1300.0}
{'name': 'Adams', 'salary': 1100.0}
{'name': 'Smith', 'salary': 800.0}