# Assignment 1

You are given the following int variable _x1_

In [ ]:
x1 = 3286
x1

**1**- Complete the code below to transform _x1_ into a string *x1_str*. Extract the four digits and compute *x1_reverse* by taking the digits of _x1_ backward. *x1_reverse* should be an **integer** equal to 6823

In [ ]:
x1_str = # your code here
digit_1 = # your code here
digit_2 = # your code here
digit_3 = # your code here
digit_4 = # your code here

x1_reverse = # your code here

print("first digit = %s, second = %s, third = %s, fourth = %s" % (digit_1, digit_2, digit_3, digit_4))
print("the reverse number of x1 =", x1_reverse)

**2**- Write a function that takes as input a number with any given length and returns its reversed one.     
For example: `reverse_number(274) = 472, reverse_number(15739) = 93751`.   
**Hint** You can use negative indexing. For example: `"ABCD"[-1] = D`

In [ ]:
def reverse_number(x):
    # your code here
    
print(reverse_number(274))
print(reverse_number(15739))

A **palindromic** number or numeral palindrome is a number that remains the same when its digits are reversed, like 16461. See [wikipedia](https://en.wikipedia.org/wiki/Palindromic_number)      
**3**- Write a function that returns _True_ when a number is palindromic and _False_ when not

In [ ]:
def is_palindromic(x):    
    # your code here

is_palindromic(16461)

**4**- Create a dictionary containing two keys:
* number: numbers between 10 and 99
* palindromic ?: a Boolean whether or not the number is palindromic or not

It should look like this: `dic = {'number': [10,11,12 ...], 'palindromic ?':[False,True,False,....]}`

In [ ]:
dic = # your code here

**5**- Create a dataframe _df_ from _dic_ and print the head of _df_, its shape, and the data type of each column

In [ ]:
# your code here

# head of df

# your code here

In [ ]:
# shape of df
# your code here

In [ ]:
# data type of each column
# your code here

**6**- How many palindromic numbers are there in _df_. **Hint**: Booleans are considered as 0, 1. For example: `sum([True, False, True]) = 2`.   
Filter _df_ to print only rows with palindromic numbers.

In [ ]:
# your code here

A [nontrivial reverse number](https://en.wikipedia.org/wiki/Reverse_divisible_number) is a either 1/4 or 1/9 of its reversal.     
For example: 1089 Ã— 9 = 9801, the reversal of 1089.    
**7**- Write a function that checks whether a number is a nontrivial reverse number. The response for the following three tests should be `True`, `False`, `False`.     
Use your function to identify all the nontrivial reverse numbers that are below 100 000. **Hint**: there are four

In [ ]:
def is_nontrivial_reverse_number(x):
    # your code here

print(is_nontrivial_reverse_number(1089))
print(is_nontrivial_reverse_number(2000))
print(is_nontrivial_reverse_number(7887))

In [ ]:
# nontrivial reverse numbers below 100 000

# your code here

**8**- Read the csv file _"titanic.csv"_ into a dataframe _titanic_. Print its shape and head

In [ ]:
# your code here

**9**- Print the names of titanic columns. Remove the column _"Cabin"_ and print again the names of titanic columns

In [ ]:
# print column names
# your code here

# drop the column : "Cabin
# your code here

# make sur it is removed by printing again column names
# your code here

**10**- Print the number of null values for each column. Replace null values in _"Age"_ by the average age, and null values in _"Embarked"_ by the most frequent value _"S"_. Print again the number of null values for each column

In [ ]:
# print number of null values for each column
# your code here

In [ ]:
# Replace null values
# your code here

In [ ]:
# print again number of null values for each column
# your code here