# Assignment 1

You are given the following int variable _x1_

In [2]:
x1 = 3286
x1

3286

**1**- Complete the code below to transform _x1_ into a string *x1_str*. Extract the four digits and compute *x1_reverse* by taking the digits of _x1_ backward. *x1_reverse* should be an **integer** equal to 6823

In [3]:
x1_str = str(x1)
digit_1 = x1_str[0]
digit_2 = x1_str[1]
digit_3 = x1_str[2]
digit_4 = x1_str[3]

x1_reverse = x1_str[::-1]

print("first digit = %s, second = %s, third = %s, fourth = %s" % (digit_1, digit_2, digit_3, digit_4))
print("the reverse number of x1 =", x1_reverse)

first digit = 3, second = 2, third = 8, fourth = 6
the reverse number of x1 = 6823

**2**- Write a function that takes as input a number with any given length and returns its reversed one.     
For example: `reverse_number(274) = 472, reverse_number(15739) = 93751`.   
**Hint** You can use negative indexing. For example: `"ABCD"[-1] = D`

In [6]:
def reverse_number(x):
    s = str(x)
    rev = ""
    for i in range(len(s)):
        rev += s[-(i+1)]
    return int(rev)
    
print(reverse_number(274))
print(reverse_number(15739))

472
93751

A **palindromic** number or numeral palindrome is a number that remains the same when its digits are reversed, like 16461. See [wikipedia](https://en.wikipedia.org/wiki/Palindromic_number)      
**3**- Write a function that returns _True_ when a number is palindromic and _False_ when not

In [7]:
def is_palindromic(x):    
    return x == reverse_number(x)

is_palindromic(16461)

True

**4**- Create a dictionary containing two keys:
* number: numbers between 10 and 99
* palindromic ?: a Boolean whether or not the number is palindromic or not

It should look like this: `dic = {'number': [10,11,12 ...], 'palindromic ?':[False,True,False,....]}`

In [12]:
dic = {}
dic["number"]= []
dic["palindromic ?"] = []
for i in range(10,100):
    dic["number"].append(i)
    dic["palindromic ?"].append(is_palindromic(i))
print(dic)

{'number': [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 'palindromic ?': [False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True]}

**5**- Create a dataframe _df_ from _dic_ and print the head of _df_, its shape, and the data type of each column

In [16]:
import pandas as pd
df = pd.DataFrame(dic)
df.head()

   number  palindromic ?
0      10          False
1      11           True
2      12          False
3      13          False
4      14          False

In [17]:
print(df.shape)

(90, 2)

In [18]:
print(df.dtypes)

number           int64
palindromic ?     bool
dtype: object

**6**- How many palindromic numbers are there in _df_. **Hint**: Booleans are considered as 0, 1. For example: `sum([True, False, True]) = 2`.   
Filter _df_ to print only rows with palindromic numbers.

In [25]:
print(sum(dic["palindromic ?"]))
print(df[df["palindromic ?"]==True])

9
    number  palindromic ?
1       11           True
12      22           True
23      33           True
34      44           True
45      55           True
56      66           True
67      77           True
78      88           True
89      99           True

A [nontrivial reverse number](https://en.wikipedia.org/wiki/Reverse_divisible_number) is a either 1/4 or 1/9 of its reversal.     
For example: 1089 Ã— 9 = 9801, the reversal of 1089.    
**7**- Write a function that checks whether a number is a nontrivial reverse number. The response for the following three tests should be `True`, `False`, `False`.     
Use your function to identify all the nontrivial reverse numbers that are below 100 000. **Hint**: there are four

In [32]:
def is_nontrivial_reverse_number(x):
    rev = reverse_number(x)
    return (rev == x * 9 or rev == x * 4) and x != rev

print(is_nontrivial_reverse_number(1089))
print(is_nontrivial_reverse_number(2000))
print(is_nontrivial_reverse_number(7887))

True
False
False

In [33]:
for i in range (100001):
    if is_nontrivial_reverse_number(i):
        print(i)

1089
2178
10989
21978

**8**- Read the csv file _"titanic.csv"_ into a dataframe _titanic_. Print its shape and head

In [36]:
titanic = pd.read_csv('titanic.csv')
print(titanic.shape)
titanic.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**9**- Print the names of titanic columns. Remove the column _"Cabin"_ and print again the names of titanic columns

In [37]:
print (titanic.columns)
titanic.drop('Cabin', axis=1, inplace=True)
print (titanic.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

**10**- Print the number of null values for each column. Replace null values in _"Age"_ by the average age, and null values in _"Embarked"_ by the most frequent value _"S"_. Print again the number of null values for each column

In [38]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [ ]:
# Replace null values
# your code here

In [ ]:
# print again number of null values for each column
# your code here